.display {
    margin: 15px;
    height: 85px;
    position: relative;

    border: 1px #d4d0d0 solid;
    border-radius: 5px;
    box-shadow: 0 1px 10px #939495;
}

.dispContent {
    position: absolute;
    width: 100%;

    top: 50%;
    transform: translate(0, -50%);
}

.result {
    margin: auto;
    padding-right: 10px;
    font-size: 20px;
    text-align: right;
}

.secondaryResult {
    color: var(--numbers);
    font-size: 15px;
}